* {
  margin: 0;
}
.App {
  font-family: "Inter", sans-serif;
}

.DashboardWrapper {
  font-family: "Inter", sans-serif;

  .navBar {
    padding:  12px 32px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #144866;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    color: white;
  }

  .body {
    margin: 32px;
    .legend {
      display: flex;
      padding: 12px;
      border-radius: 4px;
      .chartLabel {
        display: flex;
        align-items: center;
        margin: 0px 20px;
      }
      .colorDiv {
        width: 20px;
        height: 20px;
        margin-right: 8px;
        border-radius: 50%;
      }
    }

    .dayWiseActivityTable {
      margin: 0px 32px;
    }
  }
}

.FallBackScreenWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.btns {
  background-color: white;
  border-radius: 50%;
  padding: 12px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover{
    background-color: #f8f7fe;
  
  }
}
